<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/header :: header-content"></head>
<body>

    <main>
		<div sec:authorize="hasAuthority('MEDICO')">
			<h1>Meus atendimentos de hoje</h1>

			<table>
				<thead>
					<tr>
						<th>Horário</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="horario : ${horariosAtendimento}">
						<td th:text="${horario}">08:00</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div sec:authorize="hasAuthority('PACIENTE')">
            Este conteúdo é apenas para PACIENTES.
        </div>

		<div id="alertModal" class="modal" th:if="${mensagem}">
			<div class="modal-content">
				<span class="close-button" onclick="fecharModal()">&times;</span>
				<p th:text="${mensagem}"></p>
			</div>
		</div>

	</main>
</body>
</html>
