<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sistema de marcação de consultas</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <h1>Login</h1>
        <form th:action="@{/login}" method="post">
            <div th:if="${param.error}" class="error-message">
                Usuário ou senha inválidos
            </div>
            <div th:if="${param.logout}" class="logout-message">
                Sessão encerrada
            </div>
            <label for="username">Email:</label>
            <input type="text" id="username" name="username" required><br>
            <label for="password">Senha:</label>
            <input type="password" id="password" name="password" required><br>
            <input type="submit" value="Login">
        </form>
        <p class="not-registered">Not registered? <a th:href="@{/cadastro}" class="btn btn-primary btn-sm mb-3"> Cadastre-se </a></p>
    </div>
	    <div id="alertModal" class="modal" th:if="${mensagem}">
        <div class="modal-content">
            <span class="close-button" onclick="fecharModal()">&times;</span>
            <p th:text="${mensagem}"></p>
        </div>
    </div>

    <script>
        window.onload = function() {
            const modal = document.getElementById('alertModal');
            if (modal) {
                modal.style.display = 'block'; // Exibe o modal se ele existir
            }
        };

        function fecharModal() {
            document.getElementById('alertModal').style.display = 'none';
        }

        window.onclick = function(event) {
            const modal = document.getElementById('alertModal');
            if (event.target == modal) {
                modal.style.display = 'none';
            }
        };
    </script>
</body>
</html>
